{% extends 'base.html.twig' %}

{% block title %}New TrainTrip{% endblock %}

{% block body %}
    <h1>Create new TrainTrip</h1>

    {{ include('train_trip/_form.html.twig') }}

    <a href="{{ path('train_trip_index') }}">back to list</a>
{% endblock %}
