{% extends 'base.html.twig' %}

{% block title %}Create Store Manager{% endblock %}


{% block content %}
<div class="container-fluid">


<!-- ============================================================== --> 
<!-- Start Page Content --> 
<!-- ============================================================== -->
<div class="row">
    <div class="col-lg-3 col-md-12">
        
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card ">
            <div class="card-body">
                <h4 class="card-title text-uppercase mb-20">
                    NEW STORE MANAGER
                </h4>
                <h6 class="card-subtitle m-b-5">
                    You can register a new store manager. Give the manager a *temporary password.
                </h6>
                {{ include( 'store_manager/_formNew.html.twig' )}}
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-12">
    </div>
</div>
</div>

{% endblock content %}


        
