
    <div class="container-fluid">
        <!-- ============================================================== --> 
        <!-- Bread crumb and right sidebar toggle --> 
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-6 align-self-center">
                <h3>JS Grid Table</h3>
            </div>
            <div class="col-6 text-right font-12">
                <p><a href="index.html">Admin</a>  &gt;   JS Grid Table </p>
            </div>
            <div class="">
                <button class="right-side-toggle waves-effect waves-light bg-primary btn btn-circle btn-sm pull-right ml-10"><i class="ti-settings text-white"></i></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card min-div2">
                    <div class="card-body">
                        <h4 class="card-title text-uppercase">Static Table</h4>
                        <div class="table-responsive">
                            <table id="mainTable" class="table mb-0 font-13 display nowrap">
                                <thead class="font-16 text-dark">
                                    <tr>
                                        <th>Member</th>
                                        <th>Email address</th>
                                        <th>Phone</th>
                                        <th class="text-right pr-10"><input  type="checkbox"   value=""></th>
                                    </tr>
                                </thead>
                                <tr>
                                    <td class="text-dark font-semibold"><img src="../assets/images/users/1.jpg" class="img-circle w-40 mr-10" alt="" title="">Albert Einstein</td>
                                    <td><a href="mailto:albert-einstien@gmail.com">albert-einstien@gmail.com</a></td
                                        >
                                    <td>+91 12 59 655 45</td>
                                    <td class="text-right"><input  type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-semibold"><img src="../assets/images/users/2.jpg" class="img-circle w-40 mr-10" alt="" title="">Blaise Pascal </td>
                                    <td><a href="mailto:blaise.pascal@gmail.com">blaise.pascal@gmail.com</a></td>
                                    <td>+91 12 59 655 45</td>
                                    <td class="text-right"><input  type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-semibold"><img src="../assets/images/users/3.jpg" class="img-circle w-40 mr-10" alt="" title="">Edmond Halley </td>
                                    <td><a href="mailto:edmond.12@gmail.com">edmond.12@gmail.com</a></td>
                                    <td>+91 12 59 655 45</td>
                                    <td class="text-right"><input  type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-semibold"><img src="../assets/images/users/4.jpg" class="img-circle w-40 mr-10" alt="" title="">Caroline Herschel </td>
                                    <td><a href="mailto:caroline.hers@gmail.com">caroline.hers@gmail.com</a></td>
                                    <td>+91 12 59 655 45</td>
                                    <td class="text-right"><input  type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-semibold"><img src="../assets/images/users/5.jpg" class="img-circle w-40 mr-10" alt="" title="">Lise Meitner </td>
                                    <td><a href="mailto:caroline.hers@gmail.com">lise.mei@gmail.com</a></td>
                                    <td>+91 12 59 655 45</td>
                                    <td class="text-right"><input  type="checkbox" value=""></td>
                                </tr>
                                <tr>
                                    <td class="text-dark font-semibold"><img src="../assets/images/users/6.jpg" class="img-circle w-40 mr-10" alt="" title=""> Chien-Shiung Wu </td>
                                    <td><a href="mailto:shuing.wu@gmail.com">shuing.wu@gmail.com</a></td>
                                    <td>+91 12 59 655 45</td>
                                    <td class="text-right"><input  type="checkbox" value=""></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-right right">
                                <ul class="pagination pull-right">
                                    <li class="page-item"><a class="page-link prev" href="#"><i class="fa fa-angle-left"></i></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link next" href="#"><i class="fa fa-angle-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div>
                    <div class="card min-div2">
                        <div class="card-body">
                            <h4 class="card-title text-uppercase">Table Soarting</h4>
                            <div class="table-responsive">
                                <table id="demo-foo-addrow" class="display nowrap font-13 table table-hover contact-list" data-page-size="10">
                                    <thead  class="font-16 text-dark">
                                        <tr>
                                            <th>Member</th>
                                            <th>Email</th>
                                            <th>Phone</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user" width="40" class="img-circle mr-10" /> Mason Hudson</a></td>
                                            <td>mason@gmail.com</td>
                                            <td>+123 456 789</td>
                                            <td class="text-center"><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button></td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user" width="40" class="img-circle mr-10" /> Cameron Klein</a></td>
                                            <td>cameron@gmail.com</td>
                                            <td>+234 456 789</td>
                                            <td class="text-center"><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button></td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user" width="40" class="img-circle mr-10" /> Liliput Saldana</a></td>
                                            <td>Liliput@gmail.com</td>
                                            <td>+345 456 789</td>
                                            <td class="text-center"><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button></td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user" width="40" class="img-circle mr-10" /> Pepper Hensen</a></td>
                                            <td>Tiffany@gmail.com</td>
                                            <td>+456 456 789</td>
                                            <td class="text-center"><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button></td>
                                        </tr>
                                        <tr>
                                            <td><a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user" width="40" class="img-circle mr-10" /> Christie Saldana</a></td>
                                            <td>john@gmail.com</td>
                                            <td>+567 456 789</td>
                                            <td class="text-center"><button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button></td>
                                        </tr>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4" class="text-right">
                                                <ul class="pagination">
                                                </ul>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="demo-foo-addrow2"> </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="card min-div2">
                    <div class="card-body">
                        <h4 class="card-title text-uppercase">Editable with Datatable</h4>
                        <div id="jsgrid_1" class="nowrap"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        